{{- $pc := .Page.Site.Config.Privacy.Twitter -}}
{{- if not $pc.Disable -}}
{{- if $pc.Simple -}}
{{ template "_internal/shortcodes/twitter_simple.html" . }}
{{- else -}}
{{- $tweetID := print (index .Params 0) -}}
{{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?hide_thread=1&id=%s&dnt=%t" $tweetID $pc.EnableDNT -}}
{{- $json := "" -}}
{{- with try (resources.GetRemote $url) -}}
  {{- with .Err -}}
    {{- errorf "Failed to get Twitter oembed: %s" . -}}
  {{- else -}}
    {{- $json = .Value | transform.Unmarshal -}}
  {{- end -}}
{{- end -}}
{{ $json.html | safeHTML }}
{{- end -}}
{{- end -}}
