{{ $data := "" }}
{{ $url := "https://docs.google.com/spreadsheets/d/e/2PACX-1vTmAK5pG3PHCIc2PAY2lMskdOL5iMquLHbGpGM6cV6X0mphToSDKrMwPzH5grmFV501EKw2iTmVrMuN/pub?output=csv" }}
{{ $cacheKey := print $url (now.Format "2006-01-02 14:15:10") }}
{{ with resources.GetRemote $url (dict "key" $cacheKey) }}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
{{ $data = . | transform.Unmarshal }}
{{ $data = (after 1 $data) }}<!-- Skip first item -->
<ul>
    {{ $len := len $data }}
    {{ range seq $len }}<!-- iterate over $len -->
        {{ $i := sub $len . }}<!-- Substract current index to $len -->
        {{ $row := index $data $i }}<!-- Get row at index $i (decreasing) -->
        <li><a href="{{ index $row 0 }}" target="_blank">{{ index $row 2 }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a> - {{ index $row 3 }} - (Ajout: {{ index $row 1 }})</li>
    {{ end }}
</ul>
{{ end }}
{{ else }}
{{ errorf "Unable to get remote resource %q" $url }}
{{ end }}
